# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Migrations cache
*.pyc

__pycache__/
*.pyc