{% extends 'base.html' %}

{% block title %}
Kontakt
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h1 class="mb-4">
        📧 Kontakt
    </h1>

    <p>
        Masz pytanie, znalazłeś błąd lub chcesz zgłosić aktualizację danych?
    </p>

    <div class="card p-4 mt-4">

        <h4>
            Kontakt e-mail
        </h4>

        <p>
            kontakt@trackerkolesiostwa.pl
        </p>

    </div>

    <div class="card p-4 mt-4">

        <h4>
            Współpraca i media
        </h4>

        <p>
            media@trackerkolesiostwa.pl
        </p>

    </div>

</div>

{% endblock %}