{% extends "base.html" %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-6 col-lg-5">

            <div class="card shadow border-0">

                <div class="card-body p-4">

                    <h2 class="text-center mb-4">
                        🔐 Logowanie
                    </h2>

                    <form method="post">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <button
                            type="submit"
                            class="btn btn-danger w-100">

                            Zaloguj się

                        </button>

                    </form>

                    <hr>

                    <div class="text-center">

                        <p class="mb-0 text-muted">

                            Nie masz jeszcze konta?

                            <a
                                href="{% url 'rejestracja' %}"
                                class="fw-bold text-danger text-decoration-none">

                                Zarejestruj się tutaj

                            </a>

                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}