{% extends 'base.html' %}

{% block title %}
Wesprzyj projekt
{% endblock %}

{% block content %}

<style>
    .fade-line{
    opacity:0;
    transform:translateY(15px);
    animation:fadeUp .8s forwards;
}

.fade-line:nth-child(1){
    animation-delay:0.3s;
}

.fade-line:nth-child(2){
    animation-delay:1.5s;
}

.fade-line:nth-child(3){
    animation-delay:2.7s;
}

.fade-line:nth-child(4){
    animation-delay:3.9s;
}

@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(15px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}



</style>



<div class="container py-5">

    <div class="text-center mb-5">

        <h1>☕ Wesprzyj Znajdź Kolesia</h1>

        <div class="lead mt-3 text-center">

    <p class="fade-line">
        Projekt rozwijany jest społecznie.
    </p>

    <p class="fade-line">
        To znaczy, że nikt nie daje mi kasy.
    </p>

    <p class="fade-line">
        Możesz kupić mi kawę i pierogi,
        żebym programował przez kolejne 8 godzin.
    </p>

    <p class="fade-line">
        Jeśli uważasz projekt za wartościowy,
        możesz pomóc w utrzymaniu serwera i dalszym rozwoju.
    </p>

</div>

    </div>

    <div class="card shadow-sm border-0">

        <div class="card-body text-center p-5">

            <h3 class="mb-4">
                ❤️ Wspieraj projekt
            </h3>

            <p class="mb-4">
                Każde wsparcie pomaga rozwijać bazę danych,
                dodawać nowe funkcje i utrzymywać stronę online.
            </p>

            <a
                href="https://buymeacoffee.com/znajdzkolesia?new=1"
                target="_blank"
                class="btn btn-danger btn-lg">

                Wesprzyj projekt

            </a>

        </div>

    </div>

</div>

{% endblock %}