<div class="modal fade"
     id="personModal"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-xl modal-dialog-scrollable">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">
                    Profil osoby
                </h5>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal">
                </button>

            </div>

            <div id="personModalBody"
                 class="modal-body">

                <div class="text-center p-5">
                    Ładowanie...
                </div>

            </div>

        </div>

    </div>

</div>